.details__block {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    margin-bottom: 24px;
}

.details__title {
    font-weight: 700;
    font-size: 24px;
    color: var(--1);
    margin-bottom: 8px;
}

.details__description {
    color: var(--07);
    margin-top: 5px;
}

.details__slide {
    background-color: #000;
    margin-top: 20px;
}

.poster {
    display: flex;
    padding-top: 24px;
    align-items: center;
    margin-bottom: 20px;
}

.posster__content {
    margin-left: clamp(24px, 5vw, 72px);
}
.poster__content-title {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-white);
    margin-bottom: 4px;
}

.poster__content-description {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
    margin-bottom: 16px;
}

.poster__content-action {
    @include btn-primary;
    padding: 10px 39px;
    border-radius: 8px;
    &:hover {
        @include btn-primary-hover;
        @include transform;
    }
}

@media (min-width: 768px) {
    .poster__content-title {
        font-size: 32px;
        margin-bottom: 8px;
    }
    .poster__content-action {
        padding: 18px 39px;
    }
}

@media (min-width: 992px) {
    .poster__content-title {
        font-size: 56px;
        margin-bottom: 16px;
    }
    .poster__content-description {
        font-weight: 500;
        font-size: 24px;
        color: var(--color-white);
        margin-bottom: 24px;
    }
}
