@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* 400 - Regular */
@font-face {
    font-family: "Pro Display";
    src: url("../../fonts/SFPRODISPLAYREGULAR.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* 500 - Medium */
@font-face {
    font-family: "Pro Display";
    src: url("../../fonts/SFPRODISPLAYMEDIUM.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

/* 700 - Bold */
@font-face {
    font-family: "Pro Display";
    src: url("../../fonts/SFPRODISPLAYBOLD.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
